<%# 管理者ページのトップ画面 %>
<seciton class="ap-admin">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h2 class="admin-title">管理者ページ</h1>
      </div>
      <div class="col-12 text-center">
        <p>データベースのツイート関連データを最新の状態にします。</p>
        <form method="post" action="/admin/save" class=" mb-3">
          <button type="submit" class="rounded-3">更新</button>
        </form>
        <p><a href="JavaScript:history.back()" class="cus-link-color">戻る</a></p>
      </div>
    </div>
  </div>
</seciton>