<%# 管理者ページ(データ更新成功画面) %>
<seciton class="ap-admin-success">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="fs-4">
          <b>データの更新に成功しました</b>
        </p>
        <p class="back-p"><a class="cus-link-color" href="/twitter">Topへ</a></p>
      </div>
    </div>
  </div>
</seciton>