<%# データベース更新画面 %>
<div class="container mt-5 vh-admin">
  <div class="d-flex  flex-column align-items-center justify-content-start h-100">
    <h2 class="admin-title mb-4">DB更新</h2>
    <div class="text-center">
      <p>データベースのツイート関連データを最新の状態にします。</p>
      <form method="post" action="/admin/save" class=" mb-3">
        <button type="submit" class="rounded-3">更新</button>
      </form>
    </div>
  </div>
</div>