<%# フッター(管理者画面リンク、コピーライト)です %>
<footer>
  <hr>
  <div class="container">
    <div id="copylight-area" class="row">
      <!-- <div class="col text-start"><a class="cus-link-color" href="/admin">管理者画面</a></div> -->
      <div class="col text-end">
        <p><small>&copy;Hozumi 2023</small></p>
      </div>
    </div>
  </div>
</footer>