<%# ピル型ナビゲーション %>
<div class="container text-center">
  <ul class="nav nav-pills d-inline-flex bg-info rounded-3 p-1" id="pillTab" role="tablist">
    <li class="nav-item"><a class="nav-link active" id="main-tab" data-bs-toggle="pill" href="#main" role="tab" aria-controls="main" aria-selected="true">メイン</a></li>
    <li class="nav-item"><a class="nav-link" id="admin-tab" data-bs-toggle="pill" href="#admin" role="tab" aria-controls="admin" aria-selected="false">データ更新</a></li>
  </ul>
</div>