<%# エラー画面 %>
<seciton class="ap-error">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="fs-1">
          <b>
            <%= flashMessages.errorMessage %>
            </strong>
          </b>
        <p><a class="cus-link-color" href="JavaScript:history.back()">戻る</a></p>
      </div>
    </div>
  </div>
</seciton>